.offers {
  border: 2px solid var(--accent);
  border-radius: var(--radius--m);

  width: 100%;

  overflow: hidden;
}

.offers__table {
  width: 100%;

  tr {
    cursor: pointer;

    &:hover {
      td {
        background-color: var(--accent-light);
      }
    }

    &.active {
      td {
        background-color: var(--accent);

        color: var(--primary);

        cursor: default;
      }
    }

    & :nth-last-child(1), & :nth-last-child(2) {
      text-align: right;
    }

    &:nth-child(odd) {
      background-color: var(--grey-light);
    }
  }

  th {
    color: var(--primary);
    font-weight: 600;
    text-align: left;

    background-color: var(--accent);

    padding: var(--space--m) var(--space--s);

    &:nth-child(1) {
      text-align: right;
    }
  }

  td {
    padding: var(--space--m) var(--space--s);
    transition: 0.2s ease-in-out;

    &:nth-last-child(1), &:nth-last-child(2) {
      font-family: 'Roboto Mono', Arial, sans-serif;
      white-space: nowrap;
    }

    &:nth-child(1) {
      text-align: right;
    }
  }
}

@media (max-width: 576px) {
  .offers {
    font-size: var(--font-size--s);
  }

  .offers__table {
    td, th {
      padding: var(--space--s) var(--space--s);
    }
  }
}
